---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Modelado Aerolinea",
    desc: [
      "Ejercicio donde se hace el modelo entidad relación de una aerolinea. El trabajo fue realizado en colaboración a Amelia Merchan (https://rac0onn.github.io/).",
    ],
    img: "M.E.R. Aerolinea.drawio.png"
    tech: []
  },
  {
    title: "Modelado Biblioteca",
    desc: [
      "Ejercicio donde se hace el modelo entidad relación de una biblioteca. El trabajo fue realizado en colaboración a Amelia Merchan (https://rac0onn.github.io/).",
    ],
    img: "M. E. R. Biblioteca.drawio.png"
    tech: []
  },
  {
    title: "Normalización",
    desc: [
      "Apartado donde se colocarán las normalizaciones generadas.",
    ],
    tech: []
  },
  {
    title: "SQL",
    desc: [
      "Apartado donde estarán los trabajos relacionados con SQL.",
    ],
    tech: []
  },
  {
    title: "Proyectos",
    desc: [
      "Apartado donde estarán los proyectos realizados.",
    ],
    tech: []
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Evidencias | JFLJ" />
  <body>
    <div class="content">
        <Sidebar selectedItem="evidencias" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Volver</div></a
            >
          </div>
          <div class="content-container">
            <h1>Evidencias</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
