---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---


<!DOCTYPE html>
<html
>
  <Header title="Juan Felipe Lozada Jara" />
  <body>
    <div class="content">
      <Sidebar selectedItem="Inicio" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>¡Hola! Soy Juan Felipe.<br />Ingeniero en desarrollo.</h1>
              <p class="lead">
                Estudiante de la universidad El Bosque en ingenieria de sistemas.
              </p>
            </div>
            <a href="https://github.com/JuanF20-LJ	" class="button w-button">GitHub</a>
          </main>
          <div class="projects-section">
            <!-- Software Development -->
            <a href="/software-development" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img src="./assets/favorite.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Sobre mi...</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Puedes saber mas en el video en el apartado de presentación.</div>
                </div>
              </div>
            </a>
            <!-- DevOps & Cloud -->
            <a href="/devops" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container devops-img">
                  <img src="./assets/database.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Mis trabajos...</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Se pueden ver en el apartado de evidencias.</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>